body{
  width: 100%;
  background-color: #345;
  color: aliceblue;
  font-size: medium;
}
html{
  scroll-behavior: smooth;
}
  #nav {
    padding: 2rem;
    margin-bottom: auto;
    background-color: darkslategrey;
  }
  #nav a {
    color: black;
    font-size: large;
    text-align: end;
    margin-right: 2rem;
  }
  #nav a:hover{
    background-color: darkslateblue;
  }
  h1{
    text-align: center;
    padding: 2rem;
    color: darkblue;
  }
  #container{
  float: left;
  width: 65%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  --fontsize: 25px;
  margin-right: 0px;
  background-color: #567;
  }
  #container img{
    filter: opacity(50%);
    height: 150px;
    border-radius: 10%;
  }
  #colum{
    background-color: #123;
    padding: 1rem;
    margin: 2rem;
    border-radius: 20%;

  }
  #colum:hover{
    background-color: #345;
    transform: scale(1.1);
    border: 1px solid darkorchid;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 1.2);
  } 
  #container a{
    display: block;
    text-decoration: none;
  }
  button{
    color: var(--blue);
    transition: transform 750ms;
    will-change: transform;
    background-color: white;
  }
  button:hover{
    transform: translateY(5px);
  }
  #colum p{
    text-align: center;
    font-size: 15px;
  }
  h2{
    text-align: center;
    color:darkorchid;
    margin: 2rem;
    padding: 1rem;
  }
  ol li{
    font-size: 20px;
    list-style: none;
    color: aliceblue;
    margin-bottom: 1rem;
  }
  h3{
    color: aqua;
    margin: 1rem;
    padding: 1rem;
  }
  h4{
    color: darkseagreen;
    margin: 2rem;
  }
  section{
    width: 80%;
    margin: 2rem;
    padding: 2rem;
  }
  .body {
    text-align: center;
    margin: 3rem;
    padding: 2rem;
  }
  .body img{
    float: left;
    width: 50%;
    margin: auto;
    filter: brightness(75%) ;
  }
  .info li{
    margin: 1rem;
    font-size: large;
  }
  .main{
    background-color: #567;
  }
  
  .intro{
    padding: 1rem;
    margin: auto;
    text-align: center;
  }
   .intro h4{
    text-align: center;
    font-size: 25px;
    padding: 2rem;
    color: aqua;
  }
  .intro p{
    letter-spacing: 1px;
    padding: 2rem;
    margin: 2rem;
    font-size: 23px;
  }
  p{
    font-size: 20px;
    text-align: center;
    margin: 2rem;
    padding: auto;
    color: whitesmoke;
  }
  #wrap{
    display: grid;
    grid-template-rows: auto;
    column-gap: 2rem;
    width: 100%;
  }
  #grid {
    width: 90%;
    grid-area: auto;
    justify-items: center;
    text-align: center;
    padding: var(--root-padding);
    background-color: #123;
    margin: 2rem;
    border-radius: 2%;
    border: 1px solid darkorchid;

  }
  .gallery img{
    display: block;
    width: 40%;
    float: left;
    margin: auto;
    filter:brightness(75%)
  }
  .gallery h3 {
    padding: 1rem;
    font-size: 24px;
    margin: 1rem 0;
    text-align: center;
  }
  .gallery p {
    font-size: 18px;
    letter-spacing: 2px;
    margin: 1px;
    text-align: center;
  }
  p {
    margin-bottom: 1em;
    padding-bottom: 1em;
    /*Det ska vara 1em mellan rum på all <p> taggar när det behövs.*/
  }
  #repo{
    width: 25%;
    display: block;
    float: right;
    margin: 10px;
    background-color: sandybrown;
    border-radius: 10%;
  }
  #repo p{
    font-size: 16px;
    float: left;
  }
  #repo img{
    width: 20%;
    margin-bottom: 1rem;
    float: right;
    border-radius: 10%;
  }
  .footer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
  }
  .social-media{
    text-align: start;
    margin: var(--root-margin);
  }
  .addres{
    text-align: start;
    margin: var(--root-margin);
  }
    footer img{
      margin: var(--root-margin);
      height: 30px;
      padding: 0%;
  }
  footer p{
    font-size: 16px;
  }
  span p{
    text-align: right;
    margin-top: 2rem;
  }
  :root{
    --primary-color: darkslategrey;
    --secondary-color: #345;
    --root-padding: 1rem;
    --root-margin: 1rem;
  }
  .footer{
    background-color: var(--primary-color);
    color: #f5f5f5;
    padding: var(--base-spacing);
  }
  @media (min-width: 520px){
    body {
      object-fit: cover;
    }
  }
  @media (prefers-color-scheme: dark){
    body{
      background-color: #567;
      color: #345;
     }
     .main{
      background-color: #789;
      color: #123;
     }
    .footer{
      background-color: #789;
      color: #123;
    }
    #container{
      background-color: #789;
      color: #123;
    }
  }
  @media (max-width: 600px) {
    body{
      text-align: center;
    }
    .footer{
      display: block;
      text-align: center;
    }
    #colum{
      width: 90%;
    }
    #grid{
      width: 100%;
      text-align: center;
      margin-left: 0;
    }
    .gallery img {
      width: 100%;
    }
    #repo{
      display: inline-block;
      text-align: center;
    }
    .body img{
      width: 100%;
    }
    li{
      list-style: none;
    }
  }
  @keyframes mymove {
    from {
      transform: translateX(-50%);
    }
    to {
      transform: translateX(100%);
    }
  }
  .social-media{
    animation-name: mymove;
    animation-duration: 5s;
    animation-iteration-count: inherit;
    animation-timing-function: ease-in-out;

  }
  @keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
  }
  
  /* Apply the animation to the h2 tags */
  h2 {
    animation-name: pulse;
    animation-duration: 5s;
    animation-iteration-count: initial;
    animation-timing-function: ease-in-out;
  }
 