body{
  background-color: #345;
  color: aliceblue;
  font-size: medium;
}
html{
  scroll-behavior: smooth;
}
  #nav {
    margin-bottom: auto;
    background-color: darkslategrey;
  }
  #nav a {
    color: black;
    font-size: large;
    text-align: end;
    margin-right: 2rem;
  }
  #nav a:hover{
    background-color: darkslateblue;
  }
  h1{
    text-align: center;
    margin: 1rem;
    padding: 2rem;
    color: white;
  }
  #container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  --fontsize: 25px;
  margin: auto;
  }
  #container img{
    filter: opacity(50%);
    height: 150px;
  }
  #colum{
    background-color: #345;
    padding: 1rem;
    margin: 2rem;

  }
  #colum:hover{
    background-color: #123;
  } 
  #container a{
    display: block;
    text-decoration: none;
  }
  button{
    color: var(--blue);
    transition: transform 750ms;
    will-change: transform;
    background-color: wheat;
  }
  button:hover{
    transform: translateY(10px);
  }
  h2{
    text-align: center;
    color:darkorchid;
    margin: 2rem;
    padding: 1rem;
  }
  ol li{
    font-size: 20px;
    list-style: none;
    color: aliceblue;
    margin-bottom: 1rem;
  }
  h3{
    color: aqua;
    margin: 1rem;
    padding: 1rem;
  }
  h4{
    color: darkseagreen;
    margin: 2rem;
  }
  section{
    width: 80%;
    margin: 2rem;
    padding: 2rem;
  }
  .body {
    text-align: center;
    margin: 3rem;
    padding: 2rem;
  }
  .body img{
    float: left;
    width: 50%;
    margin: auto;
    filter: brightness(100%) ;
  }
  .info li{
    margin: 1rem;
    font-size: large;
  }
  .main{
    background-color: #345;
  }
  .intro{
    width: 85%;
    margin: 2rem;
    text-align: center;
  }
   .intro h4{
    text-align: center;
    font-size: 25px;
    padding: 3rem;
    color: aqua;
  }
  .intro p{
    font-size: 20px;
  }
  p{
    font-size: 17px;
    text-align: center;
    margin: 2rem;
    padding: auto;
    color: whitesmoke;
  }
  #wrap{
    display: grid;
    grid-template-rows: auto;
    grid-gap: 2rem;
    width: 50%;

  }
  #grid {
    width: 100%;
    grid-area: auto;
    justify-items: center;
    text-align: center;
    padding: 1rem;
    background-color: #123;
    margin: 2rem;
    border-radius: 8%;
    border: 2px solid darkorchid;
  }
  .gallery img{
    height: 250px;
    width: 75%;
    float: left;
    margin: auto;
    filter: brightness(100%) ;
  }
  .gallery h3 {
    font-size: 24px;
    margin: 1rem 0;
    text-align: center;
  }
  .gallery p {
    font-size: 16px;
    margin: 0;
    text-align: justify;
  }
  p {
    margin-bottom: 1em;
    padding-bottom: 1em;
    /*Det ska vara 1em mellan rum på all <p> taggar när det behövs.*/
  }
  #repo{
    width: 40%;
    display: inline-block;
    margin: 10px;
    background-color: sandybrown;
    border-radius: 10%;
  }
  #repo p{
    float: left;
  }
  #repo img{
    height: 40px;
    width: 30%;
    margin-bottom: 1rem;
    float: right;
  }
  .footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
  }
  .social-media{
    text-align: start;
    margin: 1rem;
  }
  .addres{
    text-align: start;
    margin: 1rem;
  }
  footer{
      background-color: darkslategrey;
      color: aliceblue;
      height: auto;
      padding: 1rem;
    }
    footer img{
      margin: 1rem;
      height: 30px;
      padding: 0%;
  }
  span p{
    text-align: right;
    margin-top: 2rem;
  }
  :root{
    --primary-color: darkslategrey;
  }
  .footer{
    background-color: var(--primary-color);
    color: #f5f5f5;
    padding: var(--base-spacing);
  }
  @media (min-width: 520px){
    body{
      object-fit: cover;
    }
  }
  @media (prefers-color-scheme: dark){
    body{
      background-color: whitesmoke;
      color:#345;
      color: #123;
    }
  }
  @media (max-width: 700px) {
    body{
      text-align: center;
    }
    #container{
      display: block;
    }
    .footer{
      text-align: center;
    }
    .body img{
      width: 80%;
    }
    li{
      list-style: none;
    }
  }
  @keyframes mymove {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0%);
    }
  }
  .social-media{
    animation-name: mymove;
    animation-duration: 5s;
    animation-iteration-count: infinite;

  }
  h2{
    animation-name: mymove;
    animation-duration: 3s;
    animation-iteration-count: inherit;
  }
  #colum{
    animation-name: mymove;
    animation-duration: 500ms;
    animation-iteration-count: initial;
  }
  @keyframes move{
    from{
       width: 80%; 
    }
    to{
        width: 50%;
    }
  }
  h1{
    animation-name: move;
    animation-duration: 0.5s;
    animation-iteration-count: initial;
  }
